<header>
  <div class="optionsCont">
    <input class="colorPicker" [(colorPicker)]="currentColor" [style.background]="currentColor" />
    <select id="country" name="country" (change)='onOptionChange($event)'>
      <option value="100">100</option>
      <option value="225">225</option>
      <option value="400">400</option>
    </select>
  </div>
  <div class="btn-cont">
    <button class="save" (click)='save()'>Save</button>
    <button class="reset" (click)='reset()'>Reset</button>
  </div>
</header>
<main>
  <div class="circleContainer" [class]='arr.length === 100 ? "ten" : arr.length === 225 ? "fifteen" : "twenty"'>
    <app-circle 
      class="circleWrapper" 
      *ngFor='let item of arr; let index = index' 
      [index]='index'
      [background]='item ? item : "transparent"'
      (colorFill)="fill($event)">
    </app-circle>
  </div>
</main>